@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-h2 md:text-h1;
  }

  h2 {
    @apply text-h4 md:text-h2;
  }

  h4 {
    @apply text-h5 md:text-h4;
  }

  h5 {
    @apply text-h6 md:text-h5;
  }

  h6 {
    @apply text-p md:text-h6;
  }

  div, p {
    @apply text-p;
  }
}

@layer utilities {
    .shadow {
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));
  }
  .card {
    @apply p-2 bg-card border-card-border border-2 rounded shadow flex flex-col h-min
  }

  /* .bg-1 {
  } */
  
  /* .rounded {
    border-radius: 24px;
  } */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body * {
  /* font-size: clamp(1rem, 0.33vi + 0.93rem, 1.25rem); */
}

body * {
  font-family: var(--handjet), monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
label{
  font-weight: 900;
  line-height: 100%;
}


div, p {
  font-weight: 600;
}

i {
  font-weight: 400;
}

input, textarea, select, button {
  border: 2px solid rgb(119, 120, 116);
  padding: 4px;
  border-radius: 8px;
     filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));
}

*[data-blocked='true'] {
  opacity: 0.5;
  pointer-events: none;
}